<h1>new user</h1>


<%= form_for :user, controller: 'sessions', action: 'create', method: 'post' do |f|%>
    name: <%= f. text_field :name %>
    password:  <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>
